/* ==UserStyle==
@name       MediaWiki
@match      https://wiktionary.org/*
@match      https://*.wiktionary.org/*
@match      https://wikipedia.org/*
@match      https://*.wikipedia.org/*
@match      https://wikia.org/*
@match      https://*.wikia.org/*
@match      https://uncyclopedia.co/*
@match      https://*.uncyclopedia.co/*
@match      https://mediawiki.org/*
@match      https://*.mediawiki.org/*
@match      https://wikimedia.org/*
@match      https://*.wikimedia.org/*
@match      https://stardewvalleywiki.com/*
@run-at     document-start
==/UserStyle== */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@200..900&family=Noto+Serif+SC:wght@200..900&family=Noto+Serif+TC:wght@200..900&display=swap');

[lang^='zh-Hant'],
[lang^='zh-Hant'] > * {
  font-family: 'Helvetica Neue', 'Noto Serif TC';
}

[lang^='zh-Hans'],
[lang^='zh-Hans'] > * {
  font-family: 'Helvetica Neue', 'Noto Serif SC';
}

[lang='zh-Hant-HK'],
[lang='zh-Hant-HK'] > *,
[lang='yue'],
[lang='yue'] > * {
  font-family: 'Helvetica Neue', 'Noto Serif HK';
}

body {
  font-family: 'Helvetica Neue', 'Noto Serif TC', 'Noto Serif SC';
}
